1.What is a List?
List is collection of item, entities that are enclosed in square braces and are seperated by commas.
List is mutable datatype we cand add, update and delete element from list..
List is iterable datatype.
Heterogeneous objects are allowed.

In [1]:
a=[2,45,43,567,23,'reshma']
a

[2, 45, 43, 567, 23, 'reshma']

In [4]:
#2.Python Program to find the largest element in the list
a=[1,23,45,23,3,4,5]
max(a)

45

In [1]:
#3.Python program to interchange first and last elements in a list.
a=['Reshma','Rohit']
a.reverse()
a

['Rohit', 'Reshma']

In [5]:
#4.Python program to swap two elements in a list.
a=['Reshma','Raj']
a[0],a[-1]=a[-1],a[0]
a

['Raj', 'Reshma']

In [9]:
#5.Python program to Reverse a List.
a=['rohit','reshma','raj','ravi'] 
a[::-1]

['ravi', 'raj', 'reshma', 'rohit']

In [12]:
b=[1,2,3,4,5]
b[::-1]

[5, 4, 3, 2, 1]

In [13]:
#6.Python program to count occurrences of an element in a list.
a=[1,2,33,44,54,65,7,2,10,2]
a.count(2)

3

In [15]:
#7.Python program to find the sum of elements in a list.
a=[3,44,5,67,90,3]
sum(a)

212

In [6]:
#8.Python program to Multiply all numbers in the list.
a=[1,2,3,4]
mul=1
for i in a:
    mul*=i
mul

24

In [23]:
#9.What are the ways to find the length of a list.
a=[3,2,45,65,76,21]
len(a)

6

In [7]:
#10.Python program to find the smallest and largest number in a list (Without minmax function).
a=[1,22,32,4,5,3,58,7]
a1=a[0]
for i in range(1,len(a)):
    if a1<a[i]:
        a1=a[i]
print(a1)

58

In [12]:
#11.Take inputs from the user to make a list. Again take one input from the user
#and search it in the list and delete that element, if found. Iterate over a list
#using for loop.
a=int(input('Enter the Element = '))
l=[]
for i in range(a):
    a1=int(input())
    l.append(a1)
Search=int(input('Enter The Seaching = '))
for i in l:
    print(i)

Enter the Element = 4
5
7
8
9
Enter The Seaching = 7
5
7
8
9

In [22]:
#12.You are given a list of integer elements. Make a new list that will store a
#square of elements of the previous list. (With and without list comprehension)
#i. Input_list = [2,5,6,12]
#ii. Output_list = [4,25,36,144]
#1.With and list comprehension
l1=[2,5,6,12]
square_list=[]
for i in l1:
    square_list.append(i**2)
square_list
[4,25,36,144]
#2.Without list comprehension
l1=[2,5,6,12]
l2=[i**2 for i in l1]
print(l2)

[4, 25, 36, 144]

In [26]:
#13.WAP to create two lists, one containing all even numbers and the other
#containing all odd numbers between 0 to 151
l=list(range(0,151))
even=[]
odd=[]
for i in l:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
even,odd

([0,
  2,
  4,
  6,
  8,
  10,
  12,
  14,
  16,
  18,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  34,
  36,
  38,
  40,
  42,
  44,
  46,
  48,
  50,
  52,
  54,
  56,
  58,
  60,
  62,
  64,
  66,
  68,
  70,
  72,
  74,
  76,
  78,
  80,
  82,
  84,
  86,
  88,
  90,
  92,
  94,
  96,
  98,
  100,
  102,
  104,
  106,
  108,
  110,
  112,
  114,
  116,
  118,
  120,
  122,
  124,
  126,
  128,
  130,
  132,
  134,
  136,
  138,
  140,
  142,
  144,
  146,
  148,
  150],
 [1,
  3,
  5,
  7,
  9,
  11,
  13,
  15,
  17,
  19,
  21,
  23,
  25,
  27,
  29,
  31,
  33,
  35,
  37,
  39,
  41,
  43,
  45,
  47,
  49,
  51,
  53,
  55,
  57,
  59,
  61,
  63,
  65,
  67,
  69,
  71,
  73,
  75,
  77,
  79,
  81,
  83,
  85,
  87,
  89,
  91,
  93,
  95,
  97,
  99,
  101,
  103,
  105,
  107,
  109,
  111,
  113,
  115,
  117,
  119,
  121,
  123,
  125,
  127,
  129,
  131,
  133,
  135,
  137,
  139,
  141,
  143,
  145,
  147,
  149])

In [24]:
#14.Python program to Count Even and Odd numbers in a List
a=[4,3,43,2,5,22]             
even=0
odd=0
for i in a:
    if(i%2==0):
        even=even+1
    else:
        odd=odd+1
print(even)
print(odd)

3
3

In [26]:
#15.WAP to make new lists, containing only numbers which are divisible by 4, 6,
#8, 10, 3, 5, 7, and 9 in separate lists for range(0,151)
a=[]
for i in range(0,151):
    if i%4 or i%6 or i%8 or i%10 or i%3 or i%5 or i%7 or i%9:
        a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150]

In [31]:
#16.From a list containing ints, strings, and floats, make three lists to store them separately.
a=[2,3,4.5,'reshma',22.5,45,'rohit',5]
int1=[]
float1=[]
str1=[]
for i in a:
    if type(i)==int:
        int1.append(i)
    elif type(i)==float:
        float1.append(i)
    elif type(i)==str:
        str1.append(i)
print(int1)
print(float1)
print(str1)

[2, 3, 45, 5]
[4.5, 22.5]
['reshma', 'rohit']

In [ ]:
#17.What’s The Difference Between The Python append() and extend() Methods?
Append():                                       
1.The element passed as an argument is appended to the end of the list

Extend()
1.Each element of the iterable passed as an argument gets appended to the end of the list.

In [34]:
#18.Write a Python program to append a list to the second list.
a=[1,2,3,4,5]
a.append([6,7,8,9,10])
a

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [16]:
#19.Write a Python program to find the third-largest number in a list.
a=[1,4,56,76,32,11]
a.sort(reverse=1)
a[2]

32

In [19]:
#20.Write a Python program to get the frequency of the elements in a list.
from collections import Counter
a=[3,4,54,6,5]
Counter(a)

Counter({3: 1, 4: 1, 54: 1, 6: 1, 5: 1})

In [28]:
#21.Write a Python program to check whether a list contains a sublist.
a=[1,2,3,4,5]
a=set(a)
b=[5,4,6,7,8,9,1,2,3]
b=set(a)
a.issubset(b)

True

In [39]:
#22.Write a Python program to find common items from two lists
a=[1,2,3,4,8,5]
b=[1,23,4,5,11,12]
c=[]
for i in a:
    if i in b:
        c.append(i)
print(c)

[1, 4, 5]

In [9]:
#23.How to flatten a list in python?
l1=[1,2,3,4]
l2=[5,6,7,8]
[l1,l2]

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [40]:
#24.How to sort a list in ascending and descending order without using the sort function?
a=[1,4,5,23,5,3,41]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]<a[j]:
            a[i],a[j]=a[j],a[i]
print(a)

[41, 23, 5, 5, 4, 3, 1]

In [41]:
#25.Write a Python program to convert a list of multiple integers into a single integer.
#a. [11, 33, 50] >>> 113350
a=[11,33,50]
for i in a:
    print(i, end="")

113350

In [ ]:
#26.Difference between del and clear?
del
del keyword is used to delete the dictionary itself.
We can also delete the key from the dictionary by using del keyword. 
If key is not in the dictionary means, then it will raise KeyError.

clear()
clear() will empty the dictionary.
It's retrun type is none.

In [ ]:
#27.Difference between remove and pop?
Remove 
To delete value this method uses the value as a parameter.
The remove() method doesn’t return any value.
At a time it deletes only one value from the list.

Pop
This method also uses the index as a parameter to delete.
pop() returns deleted value.
At a time it deletes only one value from the list.

In [ ]:
#28.Difference between indexing and Slicing?
Indexing
It returns only 1 item.
We cannot change the length of the list by item assignment in indexing.
We can assign a single element or an iterable to indexing.

Slicing
It returns a new list/tuple.
We can change the length of the list or even clear it by assigning items to slicing.
When we assign a single element to slicing, we get a TypeError. It will only accept iterables.

In [ ]:
#29.Difference between sort and sorted?
Sorted 
The sorted() function returns a sorted list of the specific iterable object.
We can specify ascending or descending order while using the sorted() function.
Its return type is a sorted list.
It can only sort a list that contains only one type of value.

Sort
The sort() method sorts the list.
It sorts the list in ascending order by default
We can also use it for sorting a list in descending order
It sorts the list in-place

In [ ]:
#30.Difference between reverse and reversed?
Reverse 
The reverse() function can only reverse the Python list.
Returns the reversed .
Takes no arguments.

Reversed
The reversed() function can be used to reverse lists, tuples, strings, and dictionaries or any sequence that is iterable.
Returns the reversed iterator object of the sequence.
Any sequence that is iterable is required.

In [ ]:
#31.Difference between copy and deep copy?
Copy
A copy constructs a new compound object and then 
inserts references into it to the objects found in the original.

Deep Copy
A deep copy constructs a new compound object and then,
recursively, inserts copies into it of the objects found in the original.

In [29]:
#32.How to check whether the list is empty or not?
l1=[1]
if not l1:
    print("list is empty")
else:
    print("list is not empty")

list is not empty

In [45]:
#33.How to concatenate two lists?
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
l=l1+l2
l

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [49]:
#34.How to find the occurrences of an element in the python list?
a=[1,2,3,14,5,2,54,3]
n=a.count(3)
n

2