In [3]:
#Reverse List
a=[1,2,3,4,5]
print(a)
s=[]
for i in a:
    s=[i]+s
print(s)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [4]:
#program to remove the char which have odd index value of a given string
a='python'
x=a[1::2]
x

'yhn'

In [6]:
#Reverse String-->length 5
x=input('Enter the string = ')
if len(x)==5:
    y=x[::-1]
    print(y)

Enter the string = rohit
tihor

In [12]:
#Ascending order by using bubble sort
a=[1,4,5,23,5,3,41]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]<a[j]:
            a[i],a[j]=a[j],a[i]
print(a)

[41, 23, 5, 5, 4, 3, 1]

In [31]:
#Separate the tuple list string
a=['reshma',23,45.3,2+4j]
str=[]
int=[]
for i in a:
    if type(a)==str:
        str.append(i)
    elif type(a)==float:
        float.append(i)
print(str)
print(int)

[]
[]

In [25]:
#Even number
a=[1,2,3,4,5]
[i for i in a if i%2==0]

[2, 4]

In [27]:
#Even number
a=[1,2,3,4,5]
for i in a:
    if i%2==0:
        print(i)

2
4

In [29]:
#python program to reverse and odd
a=[1,2,3,4,5,6,7,8,9]
even=0
odd=0
for i in a:
    if(i%2==0):
        even=even+1
    else:
        odd=odd+1
print(even)
print(odd)

4
5

In [37]:
#program to rang 45-97 to divide by 5 and 7
a=[]
for i in range(45,97):
    if i%5 or i%7:
        a.append(i)
print(a)

[45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96]

In [41]:
#create a file 
f=open('reshma.txt','w')
f.write('Hello')
f.close()

In [43]:
#append method
f=open('reshma.txt','a')
f.write('rohit')
f.close()

In [47]:
#even index in list
a=['reshma','rohit','raj','ravi']
for i in a:
    print(i[0::2])

rsm
rht
rj
rv

In [66]:
#To find common element
a=[1,2,3,4,8]
b=[1,23,4,5]
c=[]
for i in a:
    if i in b:
        c.append(i)
print(c)

[1, 4]

In [73]:
sub={'maths':90,'bio':76,'phy':65,'chem':78}
key=sub.keys()
value=sub.values()
dict(sorted(dict(zip(value,key)).items()))

{65: 'phy', 76: 'bio', 78: 'chem', 90: 'maths'}

In [78]:
#input ('55.35,46') Output ('55,35.46')  by using replace()
a='55.35,46'
print(a)
a=a.replace('.','other')
a=a.replace(',','.')
a=a.replace('other',',')
print(a)

55.35,46
55,35.46

In [83]:
#write a python program to find the first repeated char in a given string
a='reshma rohit raj ravi'
for i in a:
    if a.count(i)>1:
        print(i)
        break

r

In [4]:
#ask for the user first name and then ask for their surname and display the output message.
fname=input('Enter The First Name : ')
lname=input('Enter The Last Name : ')
print(fname,lname)

Enter The First Name : Reshma
Enter The Last Name : Nikam
Reshma Nikam

In [1]:
#ask the user to enter the number that is under 20 
#if they enter a number that is 20 or more display the message "too high", otherwise display "Thank you"
a=int(input())
if a>20:
    print('Too High')
else:
    print('Thank you')

19
Thank you

In [3]:
#ask the users age if they are 18 or over display the msg "you can vote" if they are aged 17,
#display the msg "you can learn to drive" If they are 16 display the msg "you can buy a lottery tickets", 
#if they are under 16, display the msg "you can go trick or traning"
age=int(input())
if age>=18:
    print('You can vote')
elif age==17:
    print('You can learn to drive')
elif age==16:
    print('You can buy a lottery tickets')
else:
    print('You can go trick or traning')

15
You can go trick or traning

In [4]:
#Ask the user to enter 1,2,3 if they enter a 1. display the msg "Thank you" if they enter a 2 display "well done", 
#if they enter 3 dispaly the msg "correct" ,if they enter anything else, dispaly "error msg"
num=int(input())
if num==1:
    print('Thank you')
elif num==2:
    print('Well Done')
elif num==3:
    print('Correct')
else:
    print('Error Message')

4
Error Message

In [6]:
#Ask for a number below 50 and then countdown from 50 to that number.
n=int(input('Enter The Number = '))
for i in range(50,n-1,-1):
    print(i)

Enter The Number = 43
50
49
48
47
46
45
44
43

In [2]:
#ask the user to enter their name and a number, if the number is less than 10, then display their name that number of time
#otherwise to display "too high" three time.
name=(input('Enter the Name = '))
a=int(input('Enter the Number= '))
if a<10:
    for i in range(0,a):
        print(Name)
else:
    for i in range(0,3):
        print('Too High')

Enter the Name = Reshma
Enter the Number= 11
Too High
Too High
Too High