1.What is a Tuple?
It is data type in python.
It is used to store sequence.
It is immutable in nature.
Round brackets '()' are used to store tuple collection.
Comma sepearted values.
Tuple also support indexing.
Tuple are faster than list.

2.What is the difference between List and Tuple?
Tuple :
1.Tuple is immutable.
2.Round brackets '()' are used to store tuple collection and Comma sepearted values.
3.Tuple are faster than list.
4.It is not uesd add().
5.It is not used delete().
6.We can use Sorted().
7.It is less memory Requried.
8.It is ordered.
9.It is Hetergenous.
10.Duplicates are allowed.

List :
1.list is mutable.
2.Square brackets '[]' and Comma sepearted values.
3.list are faster than Tuple.
4.It is uesd add() i.e append,insert.
5.It is used delete() i.e pop,remove,sort.
6.We can use Sort().
7.It is more memory Requried.
8.It is ordered.
9.It is Hetergenous.
10.Duplicates are allowed.

In [4]:
#3.How to sort a tuple?
a=(34,5,2,36,51,9)
a1=sorted(a,reverse=True)
a1

[51, 36, 34, 9, 5, 2]

In [23]:
#4.How to Find Min,Max in Tuple ?
a=(4,5,41,30,96,1,55)
#Min
min(a),max(a)

(1, 96)

In [24]:
#5.How to Sort List Of Tuples By The First Element.
List_of_tuples=[(1,'a'),(2,'b'),(3,'c'),(4,'d')]
sorted_list=sorted(List_of_tuples, key=lambda x: x[0])
print(sorted_list)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [25]:
#6.How to Sort List Of Tuples By Second Element.
List_of_tuples=[(1,'a'),(2,'b'),(3,'c'),(4,'d')]
sorted_list=sorted(List_of_tuples, key=lambda x: x[1])
print(sorted_list)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [27]:
#7.How to remove duplicate from list of tuples.
List_of_tuples=[(1,'a'),(2,'b'),(3,'c'),(4,'d'),(1,'a')]
unique_list=[]
for i in List_of_tuples:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

8.What is Set ? How to create Set in Python ?
Set :
It is datatype in python.
It is mutable in nature.
If we want to store gruop of unique values as a single entities then we should go for set.
Duplicates are not allowed.
Inerstion order is not perserved.
Set is created by '{}' and elements are comma seperated.

In [13]:
a={'reshma',1,2,3,4,5,6,}
a

{1, 2, 3, 4, 5, 6, 'reshma'}

In [17]:
#9.How to join two or more sets in Python?
a={1,2,3,4,5}
b={7,8,9,3,4}
a.union(b)

{1, 2, 3, 4, 5, 7, 8, 9}

In [19]:
#10.Python program to sort Python Dictionaries by Keys.
dict1={'Name':'Reshma','class':'B.Tech','Marks':'Pass','Branch':'CSE'}
dict1.keys()

dict_keys(['Name', 'class', 'Marks', 'Branch'])

In [21]:
#11.Python program to sort Python Dictionaries by Values.
dict1={'Name':'Reshma','class':'B.Tech','Marks':'Pass','Branch':'CSE'}
dict1.values()

dict_values(['Reshma', 'B.Tech', 'Pass', 'CSE'])

In [55]:
#12.Python program to find the sum of all items in a dictionary.
dict1={'a':10,'b':20,'c':30,'d':40}
dict1

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [38]:
#13.Python program to remove a key from a dictionary.
dict1={'Name':'Reshma','Class':'B.Tech','Marks':'Pass','Branch':'CSE'}
dict1.pop('Marks')
dict1

{'Name': 'Reshma', 'Class': 'B.Tech', 'Branch': 'CSE'}

In [41]:
#14.Python program to merge two Dictionaries.
dict1={'Name':'Reshma','Class':'B.Tech','Marks':'Pass','Branch':'CSE'}
dict2={'a':10,'b':20,'c':30,'d':40}
a=dict1 | dict2
print(a)

{'Name': 'Reshma', 'Class': 'B.Tech', 'Marks': 'Pass', 'Branch': 'CSE', 'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [30]:
#15.Counting the frequencis in a list using a dictionary in Python.
l=['Resmha','Ravi','Raj','Rohit','Raj']
dict={}
for i in l:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1
print(dict)

{'Resmha': 1, 'Ravi': 1, 'Raj': 2, 'Rohit': 1}

In [48]:
#16.Python program to convert a list of Tuples into Dictionary.
[('a',10),('b',20),('c',30),('d',40)]
print(dict([('a',10),('b',20),('c',30),('d',40)]))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [32]:
#17.Create a list of tuples from the given list having a number and its cube in each tuple.
l=[1,2,3,4,5,6]
Cube=[(n,n**3) for n in l]
print(Cube)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [33]:
#18.Sort a list of tuples by the second item.
l=[('a',10),('b',20),('c',30),('d',40)]
sorted_list=sorted(l,key=lambda x: x[1])
print(sorted_list)

[('a', 10), ('b', 20), ('c', 30), ('d', 40)]

In [7]:
#19.Write a Python program to create a set.
a={1,2,3,4,5}
print(a)
type(a)

{1, 2, 3, 4, 5}

set

In [34]:
#20.Write a Python program to iteration over sets.
a={1, 2, 3, 4, 5}
for i in a:
    print(i)

1
2
3
4
5

In [4]:
#21.Write a Python program to add member(s) in a set.
a={1,2,3,4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [3]:
#22.Write a Python program to remove item(s) from a given set.
a={1,2,3,4,5,6,7}
a.remove(5)
a

{1, 2, 3, 4, 6, 7}

In [35]:
#23.Write a Python program to remove an item from a set if it is present in the set.
a={1, 2, 3, 4, 5}
if 3 in a:
    a.discard(3)
print(a)

{1, 2, 4, 5}

In [2]:
#24.Write a Python program to create an intersection of sets.
a={1,2,3,4,5}
b={7,8,9,3,4}
a.intersection(b)

{3, 4}

In [8]:
#25.Write a Python program to create a union of sets.
a={1,2,3,4,5}
b={7,8,9,3,4}
a.union(b)

{1, 2, 3, 4, 5, 7, 8, 9}

In [9]:
#26.Write a Python program to create set difference.
a={1,2,3,4,5}
b={7,8,9,3,4}
a.difference(b)

{1, 2, 5}

In [11]:
#27.Write a Python program to create a symmetric difference.
a={1,2,3,4,5}
b={7,8,9,3,4}
a.symmetric_difference(b)

{1, 2, 5, 7, 8, 9}

In [12]:
#28.Write a Python program to check if a set is a subset of another set.
a={1,2,3,4,5,6,7}
a.clear()
a

set()

In [13]:
#29.Write a Python program to find maximum and the minimum value in a set.
a={1,2,343,54,3}
min(a),max(a)

(1, 343)

In [14]:
#30.Write a Python program to find the length of a set.
a={1,2,3,4,5,6,7}
len(a)

7

In [3]:
#31.Write a Python program to check if a given value is present in a set or not.
a={1,2,20,3,455,31}
i=45
if i in a:
    print('Present')
else:
    print('Not present')

Not present

In [7]:
#32.Write a Python program to check if two given sets have no elements in common.
a={1,2,3,4,5}
b={1,2,5,6,7,8}
if a.isdisjoint(b):
    print('No common Element')
else:
    print('Common element')

Common element

In [9]:
#33.Write a Python program to check if a given set is superset of itself and superset of another given set.
a={1,2,3,4,5}
b={1,2,5,6,7,8}
if a.issuperset(b):
    print('set a is superset')
else:
    print('set b is superset')

set b is superset

In [39]:
#34.Write a Python program to find the elements in a given set that are not in another set.
s1={1,2,3,4,5}
s2={1,2,5,6,7}
difference=s1-s2
print(difference)

{3, 4}

In [40]:
#35.Write a Python program to remove the intersection of a 2nd set from the 1st set.
s1={1,2,3,4,5}
s2={1,2,5,6,7}
s1-=s1.intersection(s2)
print(s1)

{3, 4}

In [4]:
#36.Write a Python program to create a tuple.
a=(1,2,'reshma')
print(a)
print(type(a))

(1, 2, 'reshma')
<class 'tuple'>

In [41]:
#37.Write a Python program to create a tuple with different data types.
a= ('Reshma',23.5, 42, True)
print(a)

('Reshma', 23.5, 42, True)

In [21]:
#38.Write a Python program to create a tuple with numbers and print one item.
a=(1,2,3,4,5)
print(a[1])

2

In [5]:
#39.Write a Python program to unpack a tuple in several variables.
a=1,2,4,5,24,53,78
a

(1, 2, 4, 5, 24, 53, 78)

In [22]:
#40.Write a Python program to add an item in a tuple.
Not Possible

In [42]:
#41.Write a Python program to convert a tuple to a string.
tuple=('Reshma','Ravi','Raj','Rohit')
string=", ".join(tuple)
print(string)

Reshma, Ravi, Raj, Rohit

In [43]:
#42.Write a Python program to get the 4th element and 4th element from last of a tuple.
a=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
fourth_element=a[3]
fourth_from_last_element=a[-4]
print(fourth_element)
print(fourth_from_last_element)

4
7

In [45]:
#43.Write a Python program to create the colon of a tuple.
t=(1,2,3,4,5,6)
c=t[2:6]
print(c)

(3, 4, 5, 6)

In [50]:
#44.Write a Python program to find the repeated items of a tuple.
a=(1, 2, 3, 4, 5, 3 ,4 ,1, 6, 7)
repeated=[]
for i in a:
    if a.count(i) > 1 and i not in repeated:
        repeated.append(i)
print(repeated)

[1, 3, 4]

In [52]:
#45.Write a Python program to check whether an element exists within a tuple.
a= (1, 2, 3, 4, 5)
n= 3
if n in a:
    print('exists in the tuple')
else:
    print('does not exist in the tuple')

exists in the tuple

In [103]:
#46.Write a Python program to convert a list to a tuple.

listx = [5, 10, 7, 4, 15, 3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]

TypeError: 'tuple' object is not callable

In [101]:
#45.Write a Python program to remove an item from a tuple.

tuplex = "w", 3, "r", "s", "o", "u", "r", "c", "e"
print(tuplex)
tuplex = tuplex[:2] + tuplex[3:]
print(tuplex)
listx = list(tuplex) 
listx.remove("c") 
tuplex = tuple(listx)
print(tuplex)

('w', 3, 'r', 's', 'o', 'u', 'r', 'c', 'e')
('w', 3, 's', 'o', 'u', 'r', 'c', 'e')

TypeError: 'list' object is not callable

In [10]:
#47.Write a Python program to slice a tuple.
a=[2,3,4,5,6]
a[-1]

6

In [11]:
#48.Write a Python program to find the index of an item of a tuple.
a=[2,3,4,5,6] 
a.index(5)

3

In [14]:
#49.Write a Python program to find the length of a tuple.
a=[1,2,3,4,5,6,7,8,9]
len(a)

9

In [73]:
#50.Write a Python program to convert a tuple to a dictionary.
t = (("a", 1), ("b", 2), ("c", 3)) 
dict1 = {k: v for k, v in t} 
print(dict1)

{'a': 1, 'b': 2, 'c': 3}

In [74]:
#51.Write a Python program to unzip a list of tuples into individual lists.
l = [(1, "a"), (2, "b"), (3, "c")] 
numbers, letters = zip(*l) 
print(numbers)     
print(letters)

(1, 2, 3)
('a', 'b', 'c')

In [19]:
#52.Write a Python program to reverse a tuple.
a=[1,2,3,4,5]
a.reverse()
b=reversed(a)
print(tuple(a))

(5, 4, 3, 2, 1)

In [100]:
#53.Write a Python program to convert a list of tuples into a dictionary.

def Convert(tup, di):
	for a, b in tup:
		di.setdefault(a, []).append(b)
	return di
tups = [("Reshma", 10), ("Raj", 12), ("Rohit", 14),
		("Akshay", 20), ("Ravi", 25), ("Lavu", 30)]
dictionary = {}
print(Convert(tups, dictionary))

{'Reshma': [10], 'Raj': [12], 'Rohit': [14], 'Akshay': [20], 'Ravi': [25], 'Lavu': [30]}

In [77]:
#54.Write a Python program to print a tuple with string Formatting.
#Sample tuple : (100, 200, 300)
#Output : This is a tuple (100, 200, 300)

my_tuple = (100, 200, 300) 
print("This is a tuple (100, 200, 300)")

This is a tuple (100, 200, 300)

In [79]:
#55.Write a Python program to replace last value of tuples in a list.
#Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
#Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
list2 = [] 
for i in list1: 
    tuple1 = i[:-1] + (100,) 
    list2.append(tuple1)
print(list2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [80]:
#56.Write a Python program to sort a tuple by its float element.
#Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
#Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

a = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted_tuple = sorted(a, key=lambda x: float(x[1]), reverse=True)
print(sorted_tuple)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [98]:
#57.Write a Python program to count the elements in a list until an element is a tuple.

def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print("Original string:")
print(str1)
print(type(str1))
print("Convert the said string to a tuple:") 
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

Original string:
python 3.0
<class 'str'>
Convert the said string to a tuple:

TypeError: 'tuple' object is not callable

In [97]:
#58.Write a Python program convert a given string list to a tuple.
#Original string: python 3.0
#<class 'str'>
#Convert the said string to a tuple:
#('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
#<class 'tuple'>

def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print("Original string:")
print(str1)
print(type(str1))
print("Convert the said string to a tuple:") 
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

Original string:
python 3.0
<class 'str'>
Convert the said string to a tuple:

TypeError: 'tuple' object is not callable

In [90]:
#59.Write a Python program calculate the product, multiplying all the numbers of a given tuple.
#Original Tuple:
#(4, 3, 2, 2, -1, 18)
#Product - multiplying all the numbers of the said tuple: -864
#Original Tuple:
#(2, 4, 8, 8, 3, 2, 9)
#Product - multiplying all the numbers of the said tuple: 27648

a = (4, 3, 2, 2, -1, 18) 
product = 1 
for i in a: 
    product *= i
print("Product - multiplying all the numbers of the said tuple:", product)

Product - multiplying all the numbers of the said tuple: -864

In [93]:
#60.Write a Python program to calculate the average value of the numbers in a given tuple of tuples.
#Original Tuple:
#((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
#Average value of the numbers of the said tuple of tuples:
#[30.5, 34.25, 27.0, 23.25]
#Original Tuple:
#((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))
#Average value of the numbers of the said tuple of tuples:
#[25.5, -18.0, 3.75]

a = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4)) 
num_cols = len(a[0]) 
num_rows = len(a) 
col_sums = [0] * num_cols
for row in a:
    for i, num in enumerate(row):
        col_sums[i] += num
avg_values = [round(col_sum / num_rows, 2) for col_sum in col_sums]
print("Average value of the numbers of the said tuple of tuples:", avg_values)

Average value of the numbers of the said tuple of tuples: [30.5, 34.25, 27.0, 23.25]

In [96]:
#61.Write a Python program to convert a tuple of string values to a tuple of integer values.
#Original tuple values:
#(('333', '33'), ('1416', '55'))
#New tuple values:
#((333, 33), (1416, 55))

def tuple_int_str(tuple_str):
    result = tuple((int(x[0]), int(x[1])) for x in tuple_str)
    return result
     
tuple_str =  (('333', '33'), ('1416', '55'))
print("Original tuple values:")
print(tuple_str)
print("\nNew tuple values:")
print(tuple_int_str(tuple_str))

Original tuple values:
(('333', '33'), ('1416', '55'))

New tuple values:

TypeError: 'tuple' object is not callable

In [95]:
#62.Write a Python program to convert a given tuple of positive integers into an integer
#Original tuple:
#(1, 2, 3)
#Convert the said tuple of positive integers into an integer:
#123
#Original tuple:
#(10, 20, 40, 5, 70)
#Convert the said tuple of positive integers into an integer:
#102040570

def tuple_to_int(nums):
    result = int(''.join(map(str,nums)))
    return result

nums = (1,2,3)
print("Original tuple: ") 
print(nums)
print("Convert the said tuple of positive integers into an integer:")
print(tuple_to_int(nums))

nums = (10,20,40,5,70)
print("\nOriginal tuple: ") 
print(nums)
print("Convert the said tuple of positive integers into an integer:")
print(tuple_to_int(nums))

Original tuple:
(1, 2, 3)
Convert the said tuple of positive integers into an integer:
123

Original tuple:
(10, 20, 40, 5, 70)
Convert the said tuple of positive integers into an integer:
102040570