In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler,StandardScaler

# Normalization :
Normalization is a technique often applied as part of data preparation for machine learning. 
The goal of normalization is to change the value of numeric column in the data set to use a column scale, without    distoring difference in the range of value of losing format.

1. MinMax scalar
2. standard scalar
3. robust scalar
4. log transformation
5. Square root transformation
6. Cube root transformation
   {For Transformation---> np.log(),np.sqrt(),np.cbrt()}
7. Mean normalization
8. Max absolute scaling

# 1.MinMax scalar :

x_norms=(x_actualValue-x_minValue) / (x_maxValue-x_minValue)

---> Range (0-1)
Code---> 
  norma_scalar= MinMaxScaler()
  scaled_age=norma_scalar.fit_transform(df['Age'])
  x_normalized=pd.DataFrame(x_scaled,columns=df.columns)
  x_normalized

In [8]:
import numpy as np
arr=np.array([[10,20,30,40,50],[12,13,41,67,43],[1000,2000,3000,4000,5000]])
df=pd.DataFrame(arr)
df=df.T
df.rename({0:'Experience',1:'Age',2:'Income'},axis=1,inplace=True)
df

   Experience  Age  Income
0          10   12    1000
1          20   13    2000
2          30   41    3000
3          40   67    4000
4          50   43    5000

In [9]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
syz_norm=MinMaxScaler()
x_scaled=syz_norm.fit_transform(df)
x_normalized=pd.DataFrame(x_scaled,columns=df.columns)
x_normalized

   Experience       Age  Income
0        0.00  0.000000    0.00
1        0.25  0.018182    0.25
2        0.50  0.527273    0.50
3        0.75  1.000000    0.75
4        1.00  0.563636    1.00

# 2.Standard scalar :

x_std=(x_actual-x_mean)/(x_mean_std_value)
 It is used to scale down on standard normal distribution here in, mean is 0 and std is 1.
 It has no specific scale to scale down the value.
 
Code--->
    std_scaler= StandardScaler()
    std_scaler.fit_transform(data)
    data

In [13]:
std_scaler= StandardScaler()
std_scaler.fit_transform(df)

array([[-1.41421356, -1.12225371, -1.41421356],
       [-0.70710678, -1.0738807 , -0.70710678],
       [ 0.        ,  0.28056343,  0.        ],
       [ 0.70710678,  1.53826155,  0.70710678],
       [ 1.41421356,  0.37730944,  1.41421356]])

# 3.Robust scalar :

x_robust=(x_actual-x_median)/x_median_std
  It is used to scale down based on std-normal-distribution.
  Here in median is 0 and median_std_deviation is 1.
  It has no specific scale to scale down the value.