List :
   List is collection of item, entities that are enclosed in square braces and are seperated by commas.[,]
   List is stored varoius data type. 
   List is mutable datatype we cand add, update and delete element from list..
   List is iterable datatype.
   Heterogeneous objects are allowed.
   List is dynamic in nature it means we can inceease and decrease size of list.
   List supporting index concept.
   If we want to represent group of individual object as single entity then we used list.
   Inseration order is preserved and duplictes are allowed.
         By default start from 0 and end length of list -1 {len(list)} for positive index.------->(Left To Right)
         By default start from -1 and end minus of length of list {-len(list)} For negative index.------>(Right To Left)

In [4]:
a=[2,45,43,567,23,'reshma']
a

[2, 45, 43, 567, 23, 'reshma']

In [5]:
type(a[-1])

str

In [6]:
#Iterable datatype
import time   
a=[1,2,34,54,7]
for i in a:
    time.sleep(2)
    print(i)

1
2
34
54
7

In [9]:
a=[4,45,3,4,2]
a=iter(a)   #iter=iterater object
print(a)
for i in range(5):
    print(next(a))

<list_iterator object at 0x000001FE37AA1CF0>
4
45
3
4
2

In [10]:
for i in 4675:
    print(i)   #'int' object is not iterable

TypeError: 'int' object is not iterable

In [16]:
a=[4,5,8,6]         #Reverse List
a[-1:-len(a)-1:-1]

[6, 8, 5, 4]

In [3]:
a=[2,45,4,5,654,9]
a[0]=25
a

[25, 45, 4, 5, 654, 9]

In [4]:
a='reshma'
hash(a)

4979269880916516382

Indexing :
    Indexing start from 0 for Positive index.(left-->right)
    Indexing start from -1 for Negative index.(right-->left)

In [6]:
a=[1,'reshma','rohit',34.6]
a[2]

'rohit'

In [14]:
a='reshma rohit ram sayali swati'
a

'reshma rohit ram sayali swati'

In [16]:
a=['sham','reshma','rohit','swati']    #reverse word
for i in a: 
    print(i[::-1])

mahs
amhser
tihor
itaws

In [20]:
a=[1,'reshma','rohit',34.6]
a[-2]

'rohit'

List slicing :
       A slicing object is use to specify how to slice a sequence you can specify to start the slicing and where to end.
       you can also specify the step.
   syntax :
       list_var[start:end:step_size].

In [23]:
a=['sham','reshma','rohit','swati'] 
a[1:3]

['reshma', 'rohit']

In [24]:
a=['sham','reshma','rohit','swati'] 
a[1:3][::-1]

['rohit', 'reshma']

In [25]:
a=['sham','reshma','rohit','swati']  #Step size
a[1:3:2]

['reshma']

Reverse index list :

In [28]:
a=['sham','reshma','rohit','swati'] 
a[::-1]

['swati', 'rohit', 'reshma', 'sham']

In [32]:
a[0:3:-1]

[]

Checking all items in list :

In [33]:
a=['sham','reshma','rohit','swati'] 
for i in a:
    print(i)

sham
reshma
rohit
swati

In [35]:
for i in enumerate(a):      #by using enumerate in for loop
    print(i)

(0, 'sham')
(1, 'reshma')
(2, 'rohit')
(3, 'swati')

In [36]:
for i,v in enumerate(a):      #by using enumerate in for loop
    print(i,v)

0 sham
1 reshma
2 rohit
3 swati

In [41]:
a=['sham','reshma','rohit','swati']   #indexing using for loop
index=0
for i in a:
    print(index,i)
    index+=1

0 sham
1 reshma
2 rohit
3 swati

Range Function :
     It gives the sequences of numbers.
  Syntax :
      range(intial_index,end index,step_size).

In [44]:
 list(range(5))

[0, 1, 2, 3, 4]

In [45]:
 list(range(0,5,2))

[0, 2, 4]

In [47]:
 list(range(0,5,3))

[0, 3]

Adding Function :
1.Append() :
      list.append() takes exactly one argument.
      Append is used to add the item in the list by default is adds the item at the -1 index basically at the last.
2.Extend() :
      Extend is used to add the iterat item in the list.
    Syntax :
       list_var.extend(data)
3.Insert() :
      Add item and list in index point.
    Syntax :
       list_var.insert(indexpoint,data)

In [52]:
#1.Append()
a.append('rohit')
a

['sham', 'reshma', 'rohit', 'swati', 'rohit', 'rohit']

In [53]:
a.append('rohit','raj') #list.append() takes exactly one argument (2 given)

TypeError: list.append() takes exactly one argument (2 given)

In [55]:
a=[4,6,45,342,53,53,9]     #Nested list
a.append([-5,-6,-7,8,90])
a

[4, 6, 45, 342, 53, 53, 9, [-5, -6, -7, 8, 90]]

In [59]:
#2.Extend()
a=[4,5,6,3,2,89]
a.extend([-7,-6,4,3,-2])
a

[4, 5, 6, 3, 2, 89, -7, -6, 4, 3, -2]

In [3]:
#3.Insert()
a=[4,5,6,3,2,89]
a.insert(3,'Reshma')
a

[4, 5, 6, 'Reshma', 3, 2, 89]

Index Function :
    Used to finding the index of any item in the list.
    Return first occurance.
  Syntax :
    list_name.index(item in the list,start index,end index).

In [69]:
a=[4,5,6,3,2,89]
a.index(4)

0

In [68]:
a=[4, 5, 6, 'Reshma', 3, 2, 89]
a.index('Reshma')

3

In [74]:
a=[4,5,785,45,87,[5,78,4,65,9]]
a[5][4]

[4, 5, 785, 45, 87, [5, 78, 4, 65, 9]]

In [76]:
a=[4,5,785,45,87,[5,78,4,65,9]]
a[5][4]=[5,97,8,7]
a

[4, 5, 785, 45, 87, [5, 78, 4, 65, [5, 97, 8, 7]]]

In [4]:
a=['ram','sham','raj','rohit','ravi','lavu','ram','raj']   #remove unique and duplicate word form list
unique=[]
for i in a:
    if i not in unique:
        unique.append(i)
print(unique)

['ram', 'sham', 'raj', 'rohit', 'ravi', 'lavu']

Counter :
   From collections import Counter
   Counter(a)

In [89]:
from collections import Counter
Counter(a)

Counter({'ram': 2, 'sham': 1, 'raj': 2, 'rohit': 1, 'ravi': 1, 'lavu': 1})

Deleting item from list :
1.remove :
    Remove is used to remove item from the list.
    By default it remove first occurance from the list.
2.pop :
    Pop expected at most 1 argument.
    It remove -1 index.
3.delete :
    Delete the item in the list or it can also delete the entire list itself.
4.clear :
    It delete all the item in list and it gives the empty list.

In [93]:
#1.Remove
a=['ram','raj','rohit','ravi']
a.remove('raj')
a

['ram', 'rohit', 'ravi']

In [98]:
#2.Pop
a=['ram','raj','rohit','ravi']   #it remove -1 index.
a.pop()

'ravi'

In [100]:
a

['ram', 'raj', 'rohit']

In [101]:
a.pop(0)

'ram'

In [102]:
a

['raj', 'rohit']

In [105]:
a.pop(0,1)   #pop expected at most 1 argument, got 2

TypeError: pop expected at most 1 argument, got 2

In [109]:
#3.Delete
a=[4,56,33,7,5,23]
del a[1]
a

[4, 33, 7, 5, 23]

In [111]:
del a    #delete the entire list (name 'a' is not defined)
a

NameError: name 'a' is not defined

In [118]:
#4.Clear
a=[4,33,7,5,23,2,11]  
a.clear()
a

[]

Sorting Function :
     1.sort() :
         It modified the actual data.
         It does not require any external variable.
         By default sort the actual data into ascending order.

In [3]:
#Ascending oder 
a=[1,4,3,56,34,22,87,80,5,2]  
a.sort()
a

[1, 2, 3, 4, 5, 22, 34, 56, 80, 87]

In [5]:
#Descending oder 
a=[1,4,3,56,34,22,87,80,5,2]  
a.sort(reverse=True)  #a.sort(reverse=0)
a

[87, 80, 56, 34, 22, 5, 4, 3, 2, 1]

Sorted() :
   Sorted does not modified the original data.
   So it does require external variable to sotre the change variable.

In [9]:
#Ascending oder 
a=[4,3,6,2,7,43,754,12,45]
a=sorted(a)
a

[2, 3, 4, 6, 7, 12, 43, 45, 754]

In [11]:
#Descending oder 
a=[4,3,6,2,7,43,754,12,45]
a=sorted(a,reverse=1)
a

[754, 45, 43, 12, 7, 6, 4, 3, 2]

Reverse() :

In [15]:
a=[4,3,6,2,7,43,54,12,45]
a.reverse()
a

[45, 12, 54, 43, 7, 2, 6, 3, 4]

In [24]:
a=sorted(a)    #[2, 3, 4, 6, 7, 12, 43, 45, 54]
a.reverse()
a

[54, 45, 43, 12, 7, 6, 4, 3, 2]

Reversed() :
   It requires external variable.

In [27]:
a=[2, 3, 4, 6, 7, 55,77,12, 43, 45, 54]
f=reversed(a)
list(f)

[54, 45, 43, 12, 77, 55, 7, 6, 4, 3, 2]

Count () :
   The count method return the numbers of time the specified element appears in the list.

In [34]:
a=[54, 45, 43, 12, 77, 55, 7, 6, 4, 3, 2]
a.count(3)

1

In [30]:
a.count(10)

0

In [33]:
for i in a:
    print(a.count(i),i)

1 2
1 3
1 4
1 6
1 7
1 55
1 77
1 12
1 43
1 45
1 54

Aggregate Function :
1.Sum
2.Max
3.Min

In [35]:
#1.sum
a=[54, 45, 43, 12, 77, 55, 7, 6, 4, 3, 2]
sum(a)

308

In [39]:
for i in a:
    print(sum(a))

308
308
308
308
308
308
308
308
308
308
308

In [40]:
#2.Max
a=[54, 45, 43, 12, 77, 55, 7, 6, 4, 3, 2]
max(a)

77

In [41]:
#3.Min
a=[54, 45, 43, 12, 77, 55, 7, 6, 4, 3, 2]
min(a)

2

1.Mean :
    Sum of all the items didvied by number of item is mean of the list.
2.Median :
    Center value in the sorted list otherwise average center value.
3.Mode :
    Most occurance item in the list otherwise first occurance or index value.

In [42]:
#1.Mean
a=[54, 45, 43, 12, 77, 55, 7, 6, 4, 3, 2]
a

[54, 45, 43, 12, 77, 55, 7, 6, 4, 3, 2]

In [45]:
from statistics import mode,mean,median
mode(a)

54

In [46]:
mean(a)

28

In [47]:
sum(a)/len(a)   #mean formula

28.0

In [48]:
median(a)

12

In [49]:
a.sort()
a

[2, 3, 4, 6, 7, 12, 43, 45, 54, 55, 77]

In [51]:
median([4,5,2,5])

4.5

Power Function : 
  Syntax :
     from math import pow
     pow(num,order or degree or power)

In [ ]:
from math import pow
     pow(num,order or degree or power)

In [52]:
pow(2,3)

8

In [54]:
median([1,2,4,5])

3.0

List Comprehension :
   It is very easy and compact way of creating list from any iterable like list,tuple,set,dict,etc. 
 Syntax :
   list_var=[expression / value for item in sequence if condition]

In [56]:
a=[4,3,43,2,5,22]
[i+5 for i in a]

[9, 8, 48, 7, 10, 27]

In [57]:
a=[4,3,43,2,5,22]
[i+2 for i in a]

[6, 5, 45, 4, 7, 24]

In [60]:
a=[4,3,43,2,5,22]             #Even Number
[i+5 for i in a if i%2==0]

[9, 7, 27]

In [59]:
[i%2==0 for i in a]         #Even Number with output = true/false

[True, False, False, True, False, True]

In [66]:
[i%2!=0 for i in range(50,60)]

[False, True, False, True, False, True, False, True, False, True]