Set :
 It is datatype in python.
 it is mutable in nature.
 If we want to store gruop of unique values as a single entities then we should go for set.
 Duplicates are not allowed.
 Inerstion order is not perserved.
 Indexing and slicing also not supported by set ('set' object is not subscriptable).
 Heterogeneous
 Set is created by '{}' and elements are comma seperated.
 we can use apply mathematical operation  like union,intersection,differnece,symmetric difference.

In [1]:
a={1,21,45,32,'reshma'}  
a.add(110)
a

{1, 110, 21, 32, 45, 'reshma'}

In [2]:
a={4,4,4,4,4,4}
a

{4}

In [5]:
a={'reshma',1,2,3,4,5,6,}
a

{1, 2, 3, 4, 5, 6, 'reshma'}

In [9]:
a[0]   #'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [12]:
a={2,}
print(a)
type(a)

{2}

set

In [13]:
a=set()
type(a)

set

Indexing And Slicing :
    'set' object is not subscriptable

In [15]:
a={1,2,3,4,5,6,7}
print(a)
a[0]

{1, 2, 3, 4, 5, 6, 7}

TypeError: 'set' object is not subscriptable

In [16]:
a[1:2]

TypeError: 'set' object is not subscriptable

Removing item from set :
1.Remove() :
    It removes the select the item from the set but if the item is not present then it throw the error.
2.Discard() :
    It removes the select the item from the set but if the item is not present then it does not return error.
3.Pop() :
    It removes the first index from the set.
4.Clear()
   Set()
5.Del() :
   Name 'a' is not defined

In [26]:
#1.Remove()
a={1,2,3,4,5,6,7}
a.remove(5)
a

{1, 2, 3, 4, 6, 7}

In [28]:
#2.Discard()
a={1,2,3,4,5,6,7}
a.discard(100)
a

{1, 2, 3, 4, 5, 6, 7}

In [29]:
a={1,2,3,4,5,6,7}
a.discard(7)
a

{1, 2, 3, 4, 5, 6}

In [30]:
#3.Pop()
a={1,2,3,4,5,6,7}
print(a)
a.pop()
a

{1, 2, 3, 4, 5, 6, 7}

{2, 3, 4, 5, 6, 7}

In [33]:
#4.Celar()
a={1,2,3,4,5,6,7}
print(a)
a.clear()
a

{1, 2, 3, 4, 5, 6, 7}

set()

In [40]:
#5.Del()            #name 'a' is not defined
a={1,2,3,4,5,6,7}
del a
a

NameError: name 'a' is not defined

Adding items in set :
1.Add() :
   It can add one item at a time.
   It does not require any additional variable to store the change.
2.Update() :
   Using update we can add multiple values, that multiple values are from sequence only.
   We can not pass individual elements here.
 Syntax :
    set_name.update(seq1,seq2)
3.Union()

In [43]:
#1.Add()
a={1,2,3,4}
a.add(5,6)    #set.add() takes exactly one argument 
a

TypeError: set.add() takes exactly one argument (2 given)

In [44]:
a={1,2,3,4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [49]:
#2.Update()
a={'reshma','rohit','raj','ravi'}
a.update('lavu')
a

{'a', 'l', 'raj', 'ravi', 'reshma', 'rohit', 'u', 'v'}

In [53]:
a.update({'reshma','guna'})
a

{'a', 'guna', 'l', 'raj', 'ravi', 'reshma', 'rohit', 'u', 'v'}

Mathematical operation on set :
1.Union :
    The union operation on set return a new set that contains all the unique elements from both sets.
    In other word, it create a new set that contains all the elements from both sets without duplicates.
    We can pass number of set separted by comma also it can be any iterable.

In [54]:
a={1,2,3,4,5}
b={7,8,9,3,4}
a.union(b)

{1, 2, 3, 4, 5, 7, 8, 9}

2.Intersection :
    The intersection operation takes two sets as input and reutrn a new set that contains common elements.

In [55]:
a={1,2,3,4,5}
b={7,8,9,3,4}
a.intersection(b)

{3, 4}

3.Intersection_Update :
    Methos is use to update a set with the intersection of itself an other set.

In [58]:
a={1,2,3,4,5}
b={7,8,9,3,4}
a.intersection_update(b)
a

{3, 4}

4.Difference :   
    This method return a new set that contains all the elements that are in set1 but not in set2.
    This method equivalent to using the '-' operators to perform the set differene operation.

In [61]:
a={1,2,3,4,5}
b={7,8,9,3,4}
a.difference(b)

{1, 2, 5}

In [63]:
a-b

{1, 2, 5}

In [ ]:
5.Difference_Update :

In [64]:
a={1,2,3,4,5}
b={7,8,9,3,4}
a.difference_update(b)
a

{1, 2, 5}

6.Symmetric _difference :
     It return set that contains all items from both set but common item are excluded.

In [65]:
a={1,2,3,4,5}
b={7,8,9,3,4}
a.symmetric_difference(b)

{1, 2, 5, 7, 8, 9}

In [4]:
#Isdisjoint()
a={1,2,3,4,5}
b={7,8,9,3,4,2,1}
a.isdisjoint(b)

False

In [5]:
#Issubset()
a={1,2,3,4}
b={4,5,3,6,7}
b.issubset(a)

False

In [7]:
#Issubset()
a={4,5,2}
b={8,5,6,2,4}
a.issubset(b)

True

In [8]:
#All AND Any
a={1,2,3,4,5}
all(a)

True

In [9]:
any({1,2,3})

True

In [10]:
a={1,0,2,6,8,4}
all(a)

False

In [11]:
any({0,1,2,3,4})

True

FrozenSet() :
   Immutable.
   Unordered.
   Duplicates are not allowed.

In [14]:
#Frozenset()
a={4,3,6,7}
a.add(5)
a

{3, 4, 5, 6, 7}

In [17]:
a={4,3,6,7}       #'set' object has no attribute 'frozenset'
a.add(5)
a.frozenset(a)

AttributeError: 'set' object has no attribute 'frozenset'