String Function

1.Capitalize() :
        In Capitalize in 0th index char only capital.

In [1]:
a='python'
a.capitalize()

'Python'

In [6]:
a='python reshma'
a.capitalize()

'Python reshma'

2.Upper() :
     It will convert the entire string into upper case.

In [3]:
a='python'
a.upper()

'PYTHON'

In [11]:
"""Upper string function"""
print(__doc__)
a='reshma'
print('a =',a)
print(a.upper())

Upper string function
a = reshma
RESHMA

3.Lower() :
     It will convert the entire string into lower case.

In [7]:
a='PYTHON'
a.lower()

'python'

In [13]:
"""Lower string function"""
print(__doc__)
a='RESHMA'
print('a =',a)
print(a.lower())

Lower string function
a = RESHMA
reshma

4.Title() :
     It will convert every string char of word into capital letter.

In [14]:
a='reshma divya sumit priyanka'
a.title()

'Reshma Divya Sumit Priyanka'

In [15]:
"""Title string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.title())

Title string function
a = reshma divya sumit priyanka
Reshma Divya Sumit Priyanka

In [28]:
"""Title string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.title())
a

Title string function
a = reshma divya sumit priyanka
Reshma Divya Sumit Priyanka

'reshma divya sumit priyanka'

5.Strip() :
     It remove spaces from the begenning and the end of the string.

In [16]:
a='     reshma shiv rohit sumit     '
a
a.strip()

'reshma shiv rohit sumit'

In [23]:
"""Strip string function"""
print(__doc__)
a='     reshma shiv rohit sumit      '
print('a =',a)
print(a.strip())

Strip string function
a =      reshma shiv rohit sumit
reshma shiv rohit sumit

6.lStrip() :
     It remove spaces from the begenning and the end of the string form left side.

In [17]:
a='     reshma shiv rohit sumit     '
a
a.lstrip()

'reshma shiv rohit sumit     '

In [24]:
"""lStrip string function"""
print(__doc__)
a='     reshma shiv rohit sumit      '
print('a =',a)
print(a.lstrip())

lStrip string function
a =      reshma shiv rohit sumit
reshma shiv rohit sumit

7.rStrip() :
     It remove spaces from the begenning and the end of the string form right side.

In [18]:
a='     reshma shiv rohit sumit     '
a
a.rstrip()

'     reshma shiv rohit sumit'

In [25]:
"""rStrip string function"""
print(__doc__)
a='     reshma shiv rohit sumit      '
print('a =',a)
print(a.rstrip())

rStrip string function
a =      reshma shiv rohit sumit
     reshma shiv rohit sumit

8.Swapcase() :
     It swap the cases as in upper case char would be convert into lower case and lower case char would be converted into upper case.

In [19]:
a='Reshma'     #lower to upper
print(a)
a.swapcase()

Reshma

'rESHMA'

In [35]:
"""Swapcase string function(lower to upper)"""
print(__doc__)
a='reshma'
print('a =',a)
print(a.swapcase())

Swapcase string function(lower to upper)
a = reshma
RESHMA

In [38]:
a='RESHMA'    #upper to lower
print(a)
a.swapcase()

RESHMA

'reshma'

In [36]:
"""Swapcase string function(upper to lower)"""
print(__doc__)
a='RESHMA'
print('a =',a)
print(a.swapcase())

Swapcase string function(upper to lower)
a = RESHMA
reshma

In [39]:
a='ReshMA'    #upper to lower AND lower to upper
print(a)
a.swapcase()

ReshMA

'rESHma'

In [37]:
"""Swapcase string function(upper to lower AND lower to upper)"""
print(__doc__)
a='ReshMA'
print('a =',a)
print(a.swapcase())

Swapcase string function(upper to lower AND lower to upper)
a = ReshMA
rESHma

9.Replace() :
     Replace is an inbulit function in the python.
     Programming language that returns that copies the str where all occurances of a substr are replce eith another substring.
    syntax : 
    str_var.replace(old_substr,new_substr,count)
    count is optinal.

In [44]:
"""Replace string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.replace('sumit priyanka','sumi priya',2))

Replace string function
a = reshma divya sumit priyanka
reshma divya sumi priya

10.del() :
    Basically deletes the entire variable or str.

In [45]:
"""del string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print('__'*20)
del a     #name 'variable' is not defined
print(a)

del string function
a = reshma divya sumit priyanka
________________________________________

NameError: name 'a' is not defined

11.len() :

In [1]:
"""Len string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.len())

Len string function
a = reshma divya sumit priyanka

AttributeError: 'str' object has no attribute 'len'

12.Count() : substr
    The count method returns the numbers of element with the speificed value.

In [49]:
"""Count string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.count('sumit'))

Count string function
a = reshma divya sumit priyanka
1

In [51]:
"""Count string function"""
print(__doc__)
a='number and element'
print('a =',a)
print(a.count('e'))

Count string function
a = number and element
4

In [52]:
"""Count string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.count(' '))

Count string function
a = reshma divya sumit priyanka
3

13.Index() :
   Index() is an inbulit function python.
   with searches for a given element from the start of the list and return lowest index where a element appers.
  syntax :
      str_variable.index('char/word','start_index','end_index')

In [58]:
"""Index string function"""
print(__doc__)
a='python'
print('a =',a)
print(a.index('p'))

Index string function
a = python
0

In [56]:
"""Index string function"""
print(__doc__)
a='python'
print('a =',a)
print(a.index('o'))

Index string function
a = python
4

In [59]:
"""Index string function"""
print(__doc__)
a='pythonhhhhh'
print('a =',a)
print(a.index('h',4,10))

Index string function
a = pythonhhhhh
6

In [62]:
"""Index string function"""
print(__doc__)
a='python and ML'
print('a =',a)
print(a.index('and'))
print(a.index('shiv'))   #substring not found

Index string function
a = python and ML
7

ValueError: substring not found

*find : 
   Difference Between index and find is that returns error is substring is not found while find return -1.

In [2]:
a='python'
a.find('n')

5

14.Field() :

In [ ]:
"""Field string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.field())

15.Split() :
    Split will actually the str and return them all in them list format.
    by default spliiting parameter is space"".

In [69]:
"""Split string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.split('a'))

Split string function
a = reshma divya sumit priyanka
['reshm', ' divy', ' sumit priy', 'nk', '']

In [74]:
"""Split string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.split('a'))
b=a.split()
print(b)
print(type(b))

Split string function
a = reshma divya sumit priyanka
['reshm', ' divy', ' sumit priy', 'nk', '']
['reshma', 'divya', 'sumit', 'priyanka']
<class 'list'>

In [76]:
#join :
" ".join(b)

'reshma divya sumit priyanka'

In [77]:
"".join(b)

'reshmadivyasumitpriyanka'

In [ ]:
b="".join(b)

16.Endwith() :
   Return the boolean value.
   It check what that str is ending with at the char or word.
   It return true if string ends with the speificed suffix.
  Syntax :
     str_variable.endswith('char/word')

In [78]:
"""Endswith string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.endswith('.'))

Endswith string function
a = reshma divya sumit priyanka
False

In [80]:
"""Endswith string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.endswith('priyanka'))

Endswith string function
a = reshma divya sumit priyanka
True

17.Startswith() :
     It return ture if str with the specified suffix.
  syntax :
    str_var.startswith('char/word')

In [82]:
"""Startswith string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.startswith('reshma'))

Startswith string function
a = reshma divya sumit priyanka
True

In [83]:
"""Startswith string function"""
print(__doc__)
a='reshma divya sumit priyanka'
print('a =',a)
print(a.startswith('r'))

Startswith string function
a = reshma divya sumit priyanka
True

17.isalnum() :
     Checks whether the str is made of only alphabets and numbers if so, them it returns true else otherwise false.

In [87]:
"""Isalnum string function"""
print(__doc__)
a='FSTXER345'
print('a =',a)
print(a.isalnum())

Isalnum string function
a = FSTXER345
True

In [88]:
"""Isalnum string function"""
print(__doc__)
a='FSTXER345 FTESG567'
print('a =',a)
print(a.isalnum())

Isalnum string function
a = FSTXER345 FTESG567
False

18.Isalpha() :
     Will check whether the str consist of only alphabets.

In [93]:
"""Isalpha string function"""
print(__doc__)
a='FSTXERTFFF'
print('a =',a)
print(a.isalpha())

Isalpha string function
a = FSTXERTFFF
True

In [95]:
"""Isalpha string function"""
print(__doc__)
a='FSTXER_RESD'
print('a =',a)
print(a.isalpha())

Isalpha string function
a = FSTXER_RESD
False

19.ASCII() : (American Standard Code of Inforamtion Interchange)
    1.chr() =  It tansform the ASCII into equivlent english char.
               chr(65),chr(97)
    2.ord() =  It finds the equivlent ASCII number of the chr.
               ord('A'),ord('Z'),ord('z'),ord('a')

In [97]:
#1.chr()
chr(65),chr(97)

('A', 'a')

In [99]:
#2.Ord()
ord('A'),ord('Z'),ord('z'),ord('a')

(65, 90, 122, 97)

20.Lowerletter() : islower
     Check the str is in lower form.

In [101]:
"""Lowerletter string function"""
print(__doc__)
a='python'
print('a =',a)
print(a.islower())

Lowerletter string function
a = python
True

In [102]:
"""Lowerletter string function"""
print(__doc__)
a='PYTHON'
print('a =',a)
print(a.islower())

Lowerletter string function
a = PYTHON
False

21.Upperletter() : isupper
     Check the str is in upper form.

In [103]:
"""Upperletter string function"""
print(__doc__)
a='PYTHON'
print('a =',a)
print(a.isupper())

Lowerletter string function
a = PYTHON
True

In [104]:
"""Upperletter string function"""
print(__doc__)
a='python'
print('a =',a)
print(a.isupper())

Upperletter string function
a = python
False

22.Issapce() :

In [114]:
"""Isspace string function"""
print(__doc__)
a="reshma nikam"
for i in a:
    if i.isspace():
        pass
    else:
        print(i)

Isspace string function
r
e
s
h
m
a
n
i
k
a
m

23.Isdecimal() :
    It accept only number and unicode char (Range 29-32).

In [117]:
"""Isdecimal string function"""
print(__doc__)
a='python'
print('a =',a)
a.isdecimal()

Isdecimal string function
a = python

False

In [118]:
"""Isdecimal string function"""
print(__doc__)
a='3.6'
print('a =',a)
a.isdecimal()

Isdecimal string function
a = 3.6

False

In [119]:
"""Isdecimal string function"""
print(__doc__)
a='3676'
print('a =',a)
a.isdecimal()

Isdecimal string function
a = 3676

True

In [120]:
"""Isdecimal string function"""
print(__doc__)
a='\u0030'
print('a =',a)
a.isdecimal()

Isdecimal string function
a = 0

True

In [122]:
"""Isdecimal string function"""
print(__doc__)
a='\u0029'
print('a =',a)
a.isdecimal()

Isdecimal string function
a = )

False

24.Isdigit() :
    return = Boolean values.
    It support all numbers, unicode (30-39), subscript, superscript.
    Special char are not allowed and also vulgar function not allowed.

In [134]:
"""Isdigit string function"""
print(__doc__)
a='1223.2435'
print('a =',a)
a.isdigit()

Isdigit string function
a = 1223.2435

False

In [133]:
"""Isdigit string function"""
print(__doc__)
a='12232435'
print('a =',a)
a.isdigit()

Isdigit string function
a = 12232435

True

In [137]:
"""Isdigit string function"""
print(__doc__)
a='\u00BC'           #vuglar char are not allowed.
print('a =',a)
a.isdigit()

Isdigit string function
a = ¼

False

In [135]:
"""Isdigit string function"""
print(__doc__)
a='\u0023'
print('a =',a)
a.isdigit()

Isdigit string function
a = #

False

25.Isnumeric() :
   return = True and False
   It support all numbers, unicode, subscript and superscript also vulgar function (U+00BC=1/4,U+00BD=1/2). 
   Speical characters are not allowed.

In [124]:
"""Isnumeric string function"""
print(__doc__)
a='36575686'
print('a =',a)
a.isnumeric()

Isnumeric string function
a = 36575686

True

In [125]:
"""Isnumeric string function"""
print(__doc__)
a='\u00BC'
print('a =',a)
a.isnumeric()

Isnumeric string function
a = ¼

True

In [127]:
"""Isnumeric string function"""
print(__doc__)
a='\u00BE'
print('a =',a)
a.isnumeric()

Isnumeric string function
a = ¾

True

In [128]:
"""Isnumeric string function"""
print(__doc__)
a='\u0029'
print('a =',a)
a.isnumeric()

Isnumeric string function
a = )

False

26.Zfill() :
    It adds zeros at the startinf of the str.

In [138]:
"""Zfill string function"""
print(__doc__)
a='reshma'
print('a =',a)
a.zfill(10)

Zfill string function
a = reshma

'0000reshma'

In [140]:
"""Zfill string function"""
print(__doc__)
a='reshma and rohit ravi priya raj'
print('a =',a)
a.zfill(50)

Zfill string function
a = reshma and rohit ravi priya raj

'0000000000000000000reshma and rohit ravi priya raj'

27.Center() :

In [143]:
"""Center string function"""
print(__doc__)
a='256'   #odd number la starting la more space.
print('a =',a)
a.center(10)

Center string function
a = 256

'   256    '

In [144]:
"""Center string function"""
print(__doc__)
a='2566'          #Even number la same space.
print('a =',a)
a.center(10)

Center string function
a = 2566

'   2566   '

In [145]:
#Ternary Opeartor :
a=10
b=2
min_num=a if a<b else b
print(min_num)

2