Tuple :
  It is data type in python.
  It is used to store sequence.
  It is immutable in nature.
  Round brackets '()' are used to store tuple collection.
  Comma sepearted values.
  Ordered is perserved and duplicates are allowed.
  We can store differnet types of data.
  Tuple is faster than list (tuple are stored in a single block of memories tuple are immutable so, it does not require extra                                space to store new object).
  Tuple also support indexing.

In [2]:
a=(1,'reshma')
print(a)
print(type(a))

(1, 'reshma')
<class 'tuple'>

In [6]:
a[0]

1

Indexing :

In [13]:
a=[2,3,4,5,6]
a[-1]

6

In [14]:
#slicing
a[2::]

[4, 5, 6]

Indexing Assignment and moidification :

In [1]:
del a[0]  #tuple object does not support item deletion.

NameError: name 'a' is not defined

In [6]:
a=[2,3,4,5,6]   #tuple object has no attribute clear
a.clear()

Item modification by convertinf tuple into list :

In [11]:
a[0]=45
a=tuple(a)
a

(45, 3, 4, 5, 6)

Addition of two tuple :

In [13]:
a=[1,2,3,4]
b=[5,6,7,8]
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

Function That can use on tuple :
1.index() :
   It reutrns the index corresponding to the value in the tuple.
  Syntax :
    index(value,start_index,end_index)

In [18]:
a=[2,3,4,5,6] 
a

[2, 3, 4, 5, 6]

In [17]:
a.count(5)

1

In [19]:
a.index(5)

3

Min,Max :

In [20]:
max(a)

6

In [21]:
min(a)

2

Sort Function :

In [22]:
a

[2, 3, 4, 5, 6]

In [23]:
sort(a)   #name 'sort' is not defined (tuple immutable)

NameError: name 'sort' is not defined

In [1]:
c=sorted(a)  
c

NameError: name 'a' is not defined

Reverse And Reversed :

In [4]:
a=[2, 3, 4, 5, 6]
a.reverse()
a

[6, 5, 4, 3, 2]

In [3]:
b=reversed(a)
print(tuple(a))

(6, 5, 4, 3, 2)

Packing And unpacking

In [5]:
tup=1,2,4,5,24,53,78
tup

(1, 2, 4, 5, 24, 53, 78)